@charset "UTF-8";


@font-face {

    font-family: 'Oeste';
    src: url('fonte-velhooeste.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'coeste';
    src: url('velhooestefonte.ttf');
    font-weight: normal;
}

/*Configuração geral do site*/
* {
    margin: 0px;
    padding: 0px;
}

/* Corpo do meu site */

body {
    height: 100vh;
    background-color: black;
    background-image: url(thumb-1920-749807.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

/*Cabaçalho do Site(a parte de cima do site)*/
header {
    text-align: center;
    padding-top: 0px;
}



/*Layout da HABILIDADES*/


header  h2 {
    font-family: 'oeste';
    min-width: 240px;
    max-width: 720px;
    margin: auto;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius: 10px 10px 0px 0px;
    zoom: normal;
    width: 80%;
    letter-spacing: 2px;
    
}

a:hover {
    text-decoration: solid;
    padding-left: 2px;
    text-shadow: 5px rgba(0, 0, 0, 0.459);
    border-radius: 3px;
   }


header a {
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.250);
}



/*Titulo do meu Site*/
header > h1 {
    color: white;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
    font-family: 'coeste';
}

/*O quadrado*/


main {
    min-width: 300;
    max-width: 750px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-radius: 10px 10px 10px 10px;
    zoom: normal;

}

/* Titulo do meu texto */
main h1 {
    padding-bottom: 10px;
    font-weight: normal;
    font-size: 1.8em;
    font-family: 'Oeste';
    text-align: center;
    min-width: 300px;
    max-width: 750px;
    margin: auto;
    letter-spacing: 2px;

}

/* Todo o texto que está dentro da caixa */
main p {
    margin: 20px 5px;
    text-align: justify;
    text-indent: 15px;
    line-height: 1.5em;
    font-size: 1em;

}

/* A parte de Imagens subtitulo dele */
main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
    font-weight: normal;
    font-family: 'Oeste';
}

main img {
    margin: auto;
}

main a {
    text-decoration: underline;
    color: rgb(25, 22, 199);
}

main a:hover {
    text-decoration: underline;
}




/*Toda a Alteração de cor para o layout*/



#status {
    text-align: center;
}

#statuscaixa {
    min-width: 300px;
    max-width: 480px;
    background-color: rgb(80, 80, 80);
    margin: auto;
    display: block;
}

#statuscaixa > img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 5px 5px;
}

#caixa1 {
    text-align: center;
    color: black;
}

#caixa2 {
    text-align: center;
    color: whitesmoke;
}

#caixa3 {
    font-weight: bolder;
    color: white;
}

#caixa4 {
    color: black;
    font-weight: bolder;
}

strong {
    color: red;
}

#alerta {
    text-align: center;
}

.vermelho {
    color: red;
    font-weight: bolder;
}

a > header {
    width: 740px;
    height: 30px;
}